#macOS system file
.DS_Store

#Dependency Directories
node_modules/
Backend/node_modules/
Frontend/node_modules/

# React Router
/.react-router/
/build/

#Remove .env!!  
.env
.env.* 
# ^^Catches .env.production, .env.development, etc.

# Exclude Personal Project Notes
PROJECT_NOTES.md 
